.form{
    width: 100%;
    border: solid 1px #D4D4D4;
    border-top: 2px solid #D4D4D4;
    padding: 12px;
    outline: none;
    @include border-radius(5px);
    &:focus{
        @include transition(0.4s);
        border-top: 2px solid $orange;
    }
}

.form-color{
    width: 100%;
    border: 0;
    height: 40px;
    outline:none;
}